<div *ngIf="cell.selection !== 0 || isIdle(); else showPencilmarks" class="selection-wrapper">
  <div *ngIf="cell.selection !== 0" class="selection">{{cell.selection}}</div>
</div>
<ng-template #showPencilmarks>
  <div class="inner-row-wrapper">
    <div class="inner-row" *ngFor="let column of [9,6,3]">
        <ng-container *ngFor="let row of [0,1,2]">
          <div class="inner-cell" *ngIf="cell.pencilmarks.indexOf(column - row) > -1">
            {{column - row}}
          </div>
        </ng-container>
    </div>
  </div>
</ng-template>
