<h1>Megahammergeiles Sudoku Programm</h1>

<div class="container">
  <div class="wrapper" *ngFor="let cells of grid; let i = index">
    <div class="cell" *ngFor="let c of cells" [ngClass]="{'givenVal' : c.isGivenValue, 'selected-cell' : c.selection !== 0}" (click)="setSelectedCell(c, $event)">
      <app-sudoku-cell class="app-sudoku-cell" [(cell)]="c" [(gameState)]="gameState" ></app-sudoku-cell>
    </div>
  </div>
</div>

<div class="button-wrapper">
  <button (click)="execute()">Ausführen</button>
  <button (click)="clear(false)">Clear</button>
  <button (click)="clear(true)">Clear All</button>
  <button (click)="startPlaying()">Start Game</button>
</div>
