<h1>Sudoku Solver</h1>

<img  class="center" [src]="doki" width="50" height="250">

<div class="explanation" *ngIf="currentExecutedRule">
  <h2 class="centerString">Currently Rule is running: {{currentExecutedRule}}</h2>
  <i class="centerString">Description: {{currentExecutedRuleDescription}}</i>
</div>

<div class="container">
  <div class="wrapper" *ngFor="let cells of grid">
    <div *ngFor="let c of cells"
      class="cell cell-[{{c.position.box}}][{{c.position.cell}}]"
      [ngClass]="{'givenVal' : c.isGivenValue, 'selected-cell' : c.selection !== 0}"
      (click)="setSelectedCell(c, $event)">
      <app-sudoku-cell class="app-sudoku-cell" [(cell)]="c" [(gameState)]="gameState" ></app-sudoku-cell>
    </div>
  </div>
</div>

<div class="button-wrapper">
  <button (click)="execute()">Execute</button>
  <button (click)="clear(false)">Clear</button>
  <button (click)="clear(true)">Clear All</button>
  <button (click)="startPlaying()">Start Game</button>
  <button (click)="validate()">Validate</button>
</div>
